<% if (page.comments !== false) { %>
<div id="disqus_thread"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@3.0/dist/browser/styles/disqusjs.css">
<script id="js-disqusjs" src="https://cdn.jsdelivr.net/npm/disqusjs@1.2.5/dist/disqus.js" async></script>
<script>
  document.getElementById('js-disqusjs').addEventListener('load', function () {
    function loadDisqusJS() {
        new DisqusJS({
            shortname: 'hexo-theme-maple',
            api: 'https://disqus.com/api/',
            admin: 'disqus_dbfUNh6DjP',
        })
    }
    if (document.readyState === 'complete') {
        loadDisqusJS();
    } else {
        window.addEventListener('load', loadDisqusJS);
    }
});
</script>
<% } %>
