html:not(.dark) {
  --highlight-keyword      : #1c6b48
  --highlight-background   : #fbfbfb
  --highlight-comment      : #a0ada0
  --highlight-foreground   : #393a34
  --highlight-string       : #b56959
  --highlight-gutter       : #869194
  --highlight-class        : #2993a3
  --highlight-function     : #6c7834
}

html.dark {
  --highlight-keyword      : #4d9375
  --highlight-background   : #111111
  --highlight-comment      : #758575
  --highlight-foreground   : #d4cfbf
  --highlight-string       : #d48372
  --highlight-gutter       : #869194
  --highlight-class        : #54b1bf
  --highlight-function     : #a1b567
}


.post-content {
  figure.highlight {
		margin: 2em 0
		background: var(--highlight-background)
		color: var(--highlight-foreground)
		font-size: 12px
		overflow: scroll
		overflow-y: hidden
		overflow-x: auto

		.gutter {
			color: var(--hight-gutter)
		}

		pre {
			background: var(--highlight-background)
			margin: 0
		}
	}

	pre {
		padding: 10px
		overflow: auto
		background: var(--highlight-background)
		font-family: Menlo, Monaco, Consolas, Courier New, monospace

		code {
			padding: 0
		}
	}

	pre {
		.comment {
      color: var(--highlight-comment)
    }

    .string {
      color: var(--highlight-string)
    }

    .keyword {
      color: var(--highlight-keyword)
    }

    .class_ {
      color: var(--highlight-class)
    }

    .function_ {
      color: var(--highlight-function)
    }
	}
}
