:root
  --c-bg: #fff
  --c-scrollbar: #eee
  --c-scrollbar-hover: #bbb
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;


html
  background-color: var(--c-bg)
  color: var(--fg)


html.dark
  --c-bg: #050505
  --c-scrollbar: #111
  --c-scrollbar-hover: #222
  --fg: #bbb
  --fg-deep: #ddd
  --fg-deeper: #fff


// html
//   overflow: scroll

body
  margin: 0 auto
  font-family: font-family

*
  scrollbar-color: var(--c-scrollbar) var(--c-bg);


::-webkit-scrollbar
  width: 6px

::-webkit-scrollbar:horizontal
  height: 6px

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
  background: var(--c-bg)
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: var(--c-scrollbar)
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: var(--c-scrollbar-hover)


*, ::before, ::after
  box-sizing: border-box
  border-width: 0;
  border-style: solid
  border-color: currentColor

hr
  height: 0
  color: inherit
  border-top-width: 1px

