// font
font-family = "Inter", Inter var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
post-font-family = "Input Mono", monospace

// color
// background-color
bg-color = #fff
bg-color-dark = #050505

// post color
post-color = #555
post-color-deeper = #000
post-color-deep = #000
// scrollbar color
scroll-bar-color = #eee
scroll-bar-hover-color = #bbb
// block
block-font-family = 'Input Mono', monospace
block-font-size = 0.9rem
block-bg-color = #fbfbfb
