// font
font-family = "Inter", Inter var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
post-font-family = "Input Mono", monospace

// color
// background-color
bg-color = #fff
bg-color-dark = #050505

// post color
post-color = #555
post-color-deeper = #000
post-color-deep = #000
// scrollbar color
scroll-bar-color = #eee
scroll-bar-color-dark = #111
scroll-bar-hover-color-dark = #222
// block
block-font-family = Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
block-font-size = 0.9rem
block-bg-color = #fbfbfb

global-max-width = 80ch
