.posts
  margin: auto
  max-width: global-max-width
  font-size: 1rem
  line-height: 1.75

  a.item
    color: var(--fg-deeper)
    transition: .2s all ease-out
    text-decoration: none
    border-bottom: none!important
    opacity: .6
    &:hover
      opacity: 1

  ul
    list-style: none
    margin: 0
    padding: 0

  li
    margin-top: .5em
    margin-bottom: .5em
    text-decoration: none

  .item
    display: block
    text-decoration: none
    margin-top: 0.5rem
    margin-bottom: 1.5rem

    .title
      font-size: 1.125rem
      line-height: 1.75rem

    .time
      opacity: 0.5
      font-size: 0.875rem
      line-height: 1.25rem
      margin-top: 0.25rem




