.tags
    margin: auto
    max-width: global-max-width

    .tag-list
      font-size: 1.2rem
      list-style: none
      margin: 1.5rem 0
      padding: 0

      .tag-item
        margin: 1rem 0
        padding: 0

        .tag-item-link
          border-bottom: 1px solid #ccc
          cursor: pointer
          outline: 0
          text-decoration: none
          overflow-wrap: break-word

        .tag-item-link, .tag-item-count
          color: var(--fg)
          opacity: .6
          &:hover
            opacity: 1
