<div class="post-toc">
  <div class="tocbot-list">
  </div>
  <div class="tocbot-list-menu">
    <a class="tocbot-toc-expand" onclick="expand_toc()">Expand all</a>
    <a onclick="go_top()">Back to top</a>
    <a onclick="go_bottom()">Go to bottom</a>
  </div>
</div>

