.footer
  height: 4rem
  width: 100%
  text-align: center
  // position: fixed
  bottom: 0
  line-height: 4rem
  .copyright
    a
      color: var(--fg-deep)
      font-family: block-font-family
      opacity: 0.5
      font-size: 1rem
      line-height: 1.75
      &:hover
        opacity: 0.75
