.header
  z-index: 40
  .logo
    position: absolute
    width: 2.5rem
    height: 2.5rem
    margin: 0.8rem
    user-select: none
    outline: 2px solid transparent
    outline-offset: 2px
    @media (min-width: 1024px)
      position: fixed

      img
        max-width: 100%
        height: auto
        isplay: block
        vertical-align: middle

  .nav
    padding: 1.2rem
    width: 100%
    display: grid
    grid-template-columns: auto max-content
    box-sizing: border-box

    .spacer
      margin: auto

    .right,.right>.menu, .links
      display: grid
      grid-gap: 1.2rem
      grid-auto-flow: column
      .menu
        @media screen and (max-width: 768px)
          display: none

    a
      cursor: pointer
      text-decoration: none
      color: var(--fg-deeper)
      transition: opacity .2s ease
      opacity: .6
      outline: none
      &:hover
        opacity: 1
        text-decoration-color: inherit
    svg
      width: 1.2rem
      height: 1.2rem
      vertical-align: text-bottom
