@media screen and (max-width: 1300px)
  .post-toc
    display: none

.post-toc
  position: fixed
  top: 95px
  right: 2em
  width: 15rem
  font-size: 0.85rem

  .tocbot-list
    max-height: 450px
    max-width: 250px
    overflow: auto
    position: relative
    padding-right: 0.875rem
    &:-webkit-scrollbar
      width 6px
      height 6px
    &:-webkit-scrollbar-thumb
      width 6px
      background-color: var(-fg)
      opacity: 0.6
      border-radius: 2px

    ul
      list-style: none
      position: inherit
      overflow: hidden

  .toc-list-item
    line-height: 1.8rem
  .toc-link
    text-decoration: none
    display: inline-block
    width:100%
    color: var(--fg)
    opacity: 0.6

    &:before
      background-color: var(--fg)
      height: 1.8rem
    &:hover
      opacity: 1

  .is-active-link
    opacity: 1 !important
    &:before
      background-color: var(--fg)


  .tocbot-list-menu
    margin: 1rem
    font-size: 0.8rem
    a
      display: block
      margin: 0.6rem 0
      color: var(--fg)
      opacity: 0.6
      &:hover
        opacity: 1


